/************** Booking Section **************/

/* change section background */
.booking {
  background-image: url("/static/index/picture3.jpg");
}

/* Booking Container, image on the left and booking form on the right */
.booking-container {
  background: transparent;
  box-shadow: var(--text-color);
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 3rem;
  height: 70vh;
  margin: auto 0;
}

.booking-container .image {
  padding: 0.5rem;
  height: 100%;
  border-radius: 2rem;
  color: var(--text-color);
  background-color: var(--text-color-light);
  box-shadow: 0 0 10px 0.2px var(--text-color-mid);
}

.booking-container .image img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
}

.booking-form {
  padding: 2rem;
  height: 100%;
  border-radius: 2rem;
  color: var(--text-color);
  background: var(--content-bg);
  box-shadow: 0 0 10px 0.2px var(--text-color-mid);
}

.booking-form h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--main-color);
  font-family: cursive;
}

form {
  display: grid;
  grid-row-gap: 20px;
}

.form {
  display: flex;
  justify-content: space-between;
}

.form p {
  font-weight: 500;
  font-size: 1.3rem;
}

input,
select {
  padding: 10px 15px;
  width: 35%;
  height: 3rem;
  box-shadow: 0 0 2px 0.5px var(--text-color-mid);
  border: 1px solid var(--text-color-mid);
  border-radius: 0.8rem;
  font-size: 1rem;
}

/************** Responsiveness **************/

@media (max-width: 900px) {
  .booking-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .booking{
    min-height: 105vh;
  }

  .booking-container{
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }

  input,
  select,
  .form:nth-child(2) input,
  select,
  .form:nth-child(3) input,
  select {
    width: 100%;
  }
}
