/************** ticket price Section **************/

article {
  height: 100vh;
  padding: 3.5rem 13% 5rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: center bottom;
  box-shadow: 0 0.1px 20px var(--text-color-light);
}

#ticket {
  background-image: url("/static/ticket/picture1.jpg");
}

/* Overall ticket layout */
.ticket {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ticket-card {
  margin-top: 2em;
  text-align: center;
  position: relative;
}

.ticket-card-header {
  width: 20em;
  height: 12em;
  background: linear-gradient(331deg, var(--text-color-mid), var(--main-color));
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
}

.top-card {
  filter: drop-shadow(0 1em 1em var(--text-color-light));
}

.price {
  background: var(--text-color-light);
  width: 7em;
  height: 7em;
  position: absolute;
  top: -3.5em;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.price h2 {
  padding-top: 1rem;
  font-size: 2.5em;
  color: var(--main-color);
}

.price small {
  font-size: 0.7em;
  color: var(--text-color);
  text-transform: uppercase;
}

.title h2 {
  margin: 0.3em;
  font-size: 2.3em;
  letter-spacing: 4px;
  color: var(--text-color-light);
  text-transform: uppercase;
}

.title p {
  font-size: 1em;
  letter-spacing: 1px;
  color: var(--text-color-light);
}

.ticket-card-body {
  width: 18em;
  margin: -4em auto 0 auto;
  padding: 2em 1em 1em;
  background: var(--text-color-light);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px var(--text-color-mid);
  transition: 0.5s ease;
}

.ticket-card-body:hover,
.ticket-card-body:focus {
  box-shadow: 0 0.5em 1em var(--main-color);
}

.ticket-card:nth-child(2) .ticket-card-body:hover,
.ticket-card:nth-child(2) .ticket-card-body:focus {
  box-shadow: 0 0 10px 2px rgb(203, 83, 83);
}

.ticket-card:nth-child(3) .ticket-card-body:hover,
.ticket-card:nth-child(3) .ticket-card-body:focus {
  box-shadow: 0 0 10px 2px rgb(155, 208, 89);
}

.ticket-card ul {
  list-style: none;
  margin: 2em 0;
}

.ticket-card li {
  padding: 1.3em 0;
  color: var(--text-color);
}

.ticket-card li:nth-child(odd) {
  background: var(--text-color-lighter);
}

.ticket-card li i {
  margin-right: 0.3em;
}

.ticket-card li .fa-check {
  color: #00ff44;
}

.ticket-card li .fa-times {
  color: #ff0044;
}

/* Set the colour and size differences of cards */

.ticket-card:nth-child(even) {
  font-size: 1.08rem;
}

.ticket-card:nth-child(2) .ticket-card-header,
.ticket-card:nth-child(2) button {
  background: linear-gradient(331deg, var(--text-color-mid), rgb(203, 83, 83));
}

.ticket-card:nth-child(3) .ticket-card-header,
.ticket-card:nth-child(3) button {
  background: linear-gradient(331deg, var(--text-color-mid), rgb(155, 208, 89));
}

.ticket-card button:hover,
.ticket-card button:focus {
  background: var(--text-color-light);
  color: var(--text-color);
}

.ticket-card button {
  background: linear-gradient(331deg, var(--text-color-mid), var(--main-color));
  color: var(--text-color-light);
  border: none;
  border-radius: 5em;
  padding: 1.1em 2.3em;
  text-transform: uppercase;
  bottom: -1.5em;
  transform: translateY(-50%);
  transition: 0.3s ease;
  cursor: pointer;
}

/************** Responsiveness **************/

@media (max-width: 1076px) {
  #ticket {
    background-position: left bottom;
    padding: 3.5rem 5% 5rem;
    height: auto;
  }
  .ticket {
    margin: 15vh 0 0;
    flex-direction: column;
  }
}
