/************** Events Section **************/

/* Set the container for Events section */
.container-event {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 1rem;
  box-shadow: 0 0 5px 2px var(--text-color-mid);
}

/* Larger image to represent the main event */
.container-event .image-big {
  grid-column: span 3;
  width: 100%;
  height: 45vh;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;
}

.container-event .image-big a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  box-sizing: border-box;
  transition: 1s ease;
}

.container-event .image-big a:hover img {
  transform: scale(1.1);
}

.container-event .image-big a .content {
  color: var(--text-color-lighter);
  position: absolute;
  z-index: 1;
  padding: 2rem 1.5rem;
  text-shadow: 2px 2px 2px var(--text-color);
}

.container-event .image-big a .content h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

.container-event .image-big a .content h4 {
  font-size: 1.3rem;
  font-weight: 400;
}

/* Smaller image to represent the sub event */
.container-event .image-small {
  width: 100%;
  height: 45vh;
  overflow: hidden;
  cursor: pointer;
}

.container-event .image-small a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  box-sizing: border-box;
  transition: 0.75s ease;
}

.container-event .image-small a:hover img {
  transform: scale(1.1);
}

.container-event .image-small a .content {
  color: var(--text-color-lighter);
  position: absolute;
  z-index: 1;
  padding: 1.5rem 1rem;
  max-width: 30vw;
  text-shadow: 2px 2px 2px var(--text-color);
}

.container-event .image-small a .content h3 {
  font-size: 1.35rem;
  font-weight: 600;
}

.container-event .image-small a .content h4 {
  font-size: 1.05rem;
  font-weight: 400;
}

/* round the corners of the image in the container */
.container-event .image-small:nth-child(2) {
  border-bottom-left-radius: 1rem;
}

.container-event .image-small:nth-child(4) {
  border-bottom-right-radius: 1rem;
}

/************** Responsiveness **************/

/* Change the number of image presented in the row, then change the rounder border */
@media (max-width: 928px) {
  .container-event {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-event .image-big {
    grid-column: span 1;
    border-radius: 1rem 0 0 0;
  }

  .container-event .image-small:nth-child(2) {
    border-radius: 0 1rem 0 0;
  }

  .container-event .image-small:nth-child(3) {
    border-radius: 0 0 0 1rem;
  }

  .container-event .image-big a .content,
  .container-event .image-small a .content {
    max-width: 45vw;
  }
}

@media (max-width: 600px) {
  .container-event {
    display: flex;
    flex-direction: column;
  }

  .container-event .image-big {
    border-radius: 1rem 1rem 0 0;
  }

  .container-event .image-small:nth-child(2) {
    border-radius: 0;
  }

  .container-event .image-small:nth-child(3) {
    border-radius: 0;
  }

  .container-event .image-small:last-child {
    border-radius: 0 0 1rem 1rem;
  }

  .container-event .image-big a .content,
  .container-event .image-small a .content {
    max-width: 90vw;
  }
}
