/************** Promotion & Planning banner Section **************/
section {
  padding-right: 5%;
  padding-left: 5%;
}

/* Title for every section in the main page */

.title {
  margin: 1.5rem 0;
  font-weight: 300;
  font-size: 2.5rem;
}

/* Set the container for ticket & promotion section and Reservation & Planning guide section */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.container .image {
  grid-column: span 2;
  box-shadow: 0 0 5px 0.2px var(--text-color-mid);
  width: 100%;
  height: 50vh;
  overflow: hidden;
  border-radius: 1rem;
}

.container .image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  box-sizing: border-box;
}

.container .content {
  box-shadow: 0 0 5px 0.2px var(--text-color-mid);
  padding: 1.2rem 1.2rem 0 1.2rem;
  border-radius: 1rem;
}

.container .content h1 {
  font-weight: 300;
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.container .content p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.container .content .links {
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.container .content .links a {
  margin: 0.4rem 0;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  background: transparent;
  color: var(--main-color);
  border: 3px solid var(--main-color);
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}

.container .content .links a:hover,
.container .content .links a:focus {
  background-color: var(--main-color);
  color: var(--bg-color);
}

/* Change the background of the contents card for all sections */

.promotion .container .content {
  background-color: var(--second-bg-color);
}

.planning .container .content {
  background-color: var(--bg-color);
}

/************** Responsiveness **************/

@media (max-width: 928px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container .image {
    grid-column: span 1;
  }

  .container .content .links {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .container .content .links {
    margin-bottom: 0.8rem;
  }
}
