/************** Things to know Section **************/

/* Title Design of attraction page */
h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
}

/* Things to Know section and health acknowledgement section container */
.infographic-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.infographic-container .card {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.infographic-container .card:hover .image img {
  transform: translateY(-20%) scale(1.1);
  box-shadow: 0 0 10px 1px var(--text-color-mid);
}

.infographic-container .card .image {
  padding: 2rem 0 0.2rem 0;
  text-align: center;
}

.infographic-container .card .image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: 0.5s ease;
}

.infographic-container .card .content {
  padding: 1rem;
  text-align: center;
}

.infographic-container .card .content h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.infographic-container .card .content p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.1rem;
}

.infographic-container .card .content a {
  font-size: 1.1rem;
  color: var(--text-colour);
}

/************** Responsiveness **************/

/* tablet */
@media (max-width: 768px) {
  .infographic-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* smart Phone */
@media (max-width: 600px) {
  .infographic-container {
    display: flex;
    flex-direction: column;
  }
}
