/************** Global style, written by Keagan **************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Helvetica", sans-serif;
}

:root {
  --bg-color: rgb(248, 248, 248);
  --second-bg-color: rgb(243, 243, 243);
  --main-color: rgb(10, 132, 255);
  --text-color: rgb(23, 23, 23);
  --text-color-mid: rgb(129, 129, 129);
}

html {
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

main {
  padding: 10rem 9% 2rem;
}

/************** Navigation Bar, written by Keagan **************/

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 5rem;
  padding: 2rem 5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.header.sticky {
  background: var(--second-bg-color);
}

.logo {
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  color: var(--text-color);
  font-weight: 400;
  text-decoration: none;
  transition: 0.5s ease;
}

.logo span {
  color: var(--main-color);
  font-weight: 700;
}

.logo:focus,
.logo:hover {
  color: var(--text-color-mid);
}

.navbar a {
  color: var(--text-color);
  font-weight: 500;
  margin-left: 2rem;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:focus {
  font-weight: 600;
}

.navbar a.active {
  text-decoration: 2px underline;
  text-underline-offset: 6px;
}

#menu-icon {
  position: relative;
  font-size: 2.2rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/************** Footer Section, written by Keagan **************/

footer {
  padding: 10rem 9% 2rem;
}

.footer-container {
  border-top: 2px solid var(--main-color);
  padding: 4rem 0 6rem 0;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-top-section,
.footer-bottom-section {
  align-items: flex-start;
  gap: 4rem;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.footer-bottom-section {
  gap: 1.4rem;
}

.footer-top-links nav {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.footer-top-links h6 {
  font-size: 1rem;
  font-weight: 500;
}

.footer-top-links nav a {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-color-mid);
  transition: 0.5s ease;
  cursor: pointer;
  margin: 1px;
  padding: 0.2rem 0 0.2rem 0;
  text-decoration: none;
}

.footer-top-links nav a:focus,
.footer-top-links nav a:hover {
  color: var(--text-color);
}

.footer-bottom {
  margin-top: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.social-media-links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.social-media-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 0.15rem solid var(--text-color);
  border-radius: 50%;
  font-size: 1.4rem;
  color: var(--text-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.25s ease;
}

.social-media-links a:hover {
  color: var(--bg-color);
  background-color: var(--text-color);
}

.footer-bottom-section a {
  color: var(--text-color-mid);
  font-size: 0.8rem;
  cursor: pointer;
}

.footer-bottom-section a:hover {
  color: var(--text-color);
}

.footer-bottom-section h6 {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 400;
}

/************** Different Device Media, written by Keagan **************/

/* Small Tablet Device */
@media (max-width: 768px) {
  /************** Header & Nav Section **************/

  #menu-icon {
    display: block;
  }
  .navbar {
    text-align: center;
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--second-bg-color);
    z-index: 1;
    transition: 0.25s ease;
  }

  .navbar.active {
    left: 0;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--second-bg-color);
    border-top: 0.1rem solid var(--second-bg-color);
    z-index: -1;
  }

  .navbar a {
    display: block;
    margin: 3rem 0;
  }

  /************** Footer Section **************/
  .footer-bottom {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}

/* Big Smart Phone Device */
@media (max-width: 600px) {
  /************** Footer Section **************/
  .footer-bottom-section {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
  .footer-top {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
}
/* End of code written by Keagan */
